extends ../layouts/default

block main
  h1= project.title

block content
  p=project.description
  p.author
    span Author :&nbsp;
    a(href="/users/"+project.user._id)=project.user.name
  .date= formatDate(project.createdAt, "%b %d, %Y at %I:%M %p")
  if (project.tags)
    .tags
      | Tags :&nbsp;
      each tag in project.tags.split(',')
        a.tag(href="/tags/"+tag)
          i.icon-tags
          |  #{tag}

  p
    br
    form.center.form-inline.confirm(action="/projects/"+project.id, method="post")
      a.btn(href='/projects/'+project._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete

  p
    br
    h2 Comments
    each comment in project.comments
      include ../comments/comment
    include ../comments/form
